.productInfo {
  display: flex;
  min-height: 100vh;
  justify-content: center;
}

.productInfo .container {
  width: 1000px;
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
  .productInfo .container {
    width: 100%;
    padding-bottom: 80px;
  }
}

.productInfo__discount {
  background-color: #000000;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
}

.productInfo__img {
  width: 50%;
  width: auto;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .productInfo__img {
    width: 100%;
  }
}

.productInfo__img img {
  width: 100%;
}

.productInfo__description {
  padding: 0 16px;
  width: 50%;
}

@media screen and (max-width: 1200px) {
  .productInfo__description {
    width: 100%;
    padding: 0px;
  }
}

.productInfo__name {
  font-size: 22px;
  margin: 8px 0;
}

.paymentOptions {
  margin: 8px 0;
  display: flex;
  align-items: center;
}

.paymentOptions__fullPrice {
  font-size: 16px;
  font-weight: 700;
  margin: 0 4px;
}

.paymentOptions__installments {
  font-size: 14px;
  font-weight: 700;
  color: #616161;
  margin: 0 4px;
}

.productInfo__sizes {
  font-size: 14px;
  font-weight: 700;
  margin: 8px 0;
  color: #616166;
}

.warning {
  color: #f44336;
  font-weight: 500;
  font-size: 14px;
}
.sizeSelection {
  display: flex;
  margin: 8px 0;
}

.size {
  margin-right: 8px;
}

.size > button {
  font-size: 18px;
  font-weight: 500;
  border: 1px solid #000000;
  padding: 5px;
  height: 35px;
  width: 35px;
  border-radius: 5px;
  transition: filter 0.5s;
}

.size > button:hover {
  cursor: pointer;
  filter: opacity(0.9);
}

.size--selected > button {
  background-color: #000000;
  color: #ffffff;
  font-weight: 500;
}

.product__addButton > button {
  margin: 8px 0;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 50px;
  color: #ffffff;
  background-color: #000000;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1200px) {
  .product__addButton {
    display: flex;
    position: fixed;
    bottom: 10px;
    left: 0;
    padding: 0 16px;
    width: 100%;
    margin: 0;
  }
  .product__addButton > button {
    width: 100%;
    height: 40px;
  }
}
