.button{
    cursor: pointer;
    background: none;
    border: none;
    margin: 0px 8px;
}

.button__badge {
    position: absolute;
    bottom: 1.3rem;
    right: 0.8em;
    z-index: 1;
    line-height: 1.5em;
    width: 1.5em;
    height: 1.5em;
    border-radius: 1em;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    color: #ffffff;
    background-color: #000000;
}