.shoppingList {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}
.shoppingCart__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  background-color: #000000;
  margin-top: auto;
  padding: 0.5rem 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #fafafa;
}

@media screen and (min-width: 400px) {
  .shoppingCart__footer {
    width: 400px;
  }
}
