@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

.header {
    display: flex;
    padding: 10px;
    background-color: #fafafa;
}

.header__title {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 32px;
}