@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: #fafafa;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.header__title h1{
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 32px;
}