button{
    background: none;
    border: none;
    padding: 5px;
}

button span {
    width: 16px;
    height: 16px;
    font-size: 14px;
    position: absolute;
    right: 15px;
    font-weight: 700;
    background-color: #fa0000;
    color: #ffffff;
    border-radius: 100%;
}